<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link type="text/css" rel="stylesheet" th:href="@{'/css/bootstrap.css'}">
  <script type="text/javascript" th:src="@{'/js/bootstrap.js'}" defer></script>
  <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}" defer></script>
</head>
<body>
    <div class="col-12" th:insert="~{navbar.html}"></div>
    <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="card">
          <h5 class="card-header" th:text="${folder.getName()}"></h5>
          <div class="card-body">
            <p class="card-text" th:text="${folder.getDescription()}"></p>
          </div>
          <div class="card-footer">
            <div th:each="category : ${folder.getCategories()}">
              <form th:action="@{'/folders/delete_category'}" method="post" class="mb-2">
                <input type="hidden" name="folder_id" th:value="${folder.getId()}">
                <input type="hidden" name="category_id" th:value="${category.getId()}">
                <button class="btn btn-primary btn-sm" th:text="'- ' + ${category.getName()}"></button>
              </form>
            </div>
            <hr>
            <div th:each="category : ${categories}">
              <form th:action="@{'/folders/assign_category'}" method="post" class="mb-2">
                <input type="hidden" name="folder_id" th:value="${folder.getId()}">
                <input type="hidden" name="category_id" th:value="${category.getId()}">
                <button class="btn btn-success btn-sm" th:text="'+ ' + ${category.getName()}"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.getId()}"></td>
                        <td th:text="${task.getTitle()}"></td>
                        <td th:text="${task.getStatus()}"></td>
                        <td><a th:href="@{'/tasks/' + ${task.getId()}}">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</body>
</html>